.screen {
    display: none;
}

button {
    padding: 20px;
}

.screen.active {
    display: block;
}

.selectionScreen {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#animated {
    transition: transform 0.1s ease-out;
}

.car-card,
.make-card {
    width: 200px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.car-card img,
.make-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

body {
    font-family: Arial, sans-serif;
    margin-inline: auto;
    padding: 2rem;
    max-width: 1280px;
    text-align: center;
}

.redline {
    position: absolute;
    content: '';
    width: 2px;
    background-color: red;
    height: 40px;
}

.perfect-shift-indicator {
    position: absolute;
    content: '';
    width: 5px;
    background-color: green;
    height: 40px;
}

.rev-meter {
    position: relative;
    width: 100%;
    height: 40px;
    border: 1px solid rgb(68, 68, 68);
    margin: 20px auto;
    background-color: #ddd;
    border-radius: 7px;
}

.rev-fill {
    position: absolute;
    height: 100%;
    width: 0%;
    background: yellow;
    transition: width 0.1s ease;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.rpm-labels {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px auto;
}

.rpm-label {
    font-size: 14px;
}

#gear {
    font-size: 20px;
}

#vignetteOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.6) 100%);
    opacity: 0;
    transition: opacity 0.2s ease;
}

#wheelspinIndicator {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 0, 0, 0);
    /* fully transparent red */
    animation: fadeInOutBg 0.2s infinite;
}

@keyframes fadeInOutBg {

    0%,
    100% {
        background-color: rgba(255, 0, 0, 0);
        /* transparent */
    }

    50% {
        background-color: rgba(255, 0, 0, 1);
        /* fully visible red */
    }
}