<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulation</title>
</head>

<body>
    <div>
        <div id="rpm">RPM: Loading...</div>
        <div id="speed">Speed: Loading...</div>
        <div id="time">Time: Loading...</div>

        <button id="shiftButton">Shift</button>
        <button id="startButton">Start Simulation</button>
    </div>

    <script src="../scripts/util.js" defer></script>
    <script src="../scripts/cars.js" defer></script>
    <script src="../scripts/simulation.js" defer></script>
    <script src="../scripts/script.js" defer></script>

</body>

</html>